%div.container-fluid
  %div.span12.center
    %div.hero-unit.span12
      %h1 A Blog
      %p On this page will eventually be a feed of blog posting titles that link to the blog posts themselves.

      = link_to "My Blog", controller: "posts"
