%header.navbar.navbar-fixed-top.navbar-inverse
  %div.navbar-inner
    %div.container
      = link_to "My Blog", root_path, id: "logo"
      %div.nav-collapse
        %ul.nav
        %ul.nav.pull-right
          %li
            = link_to "Home", root_path
          %li
            = link_to "New Post", new_post_path